.header {
    background-color: #673281;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text {
    margin: 0 20px;
    align-self: center;
    display: contents;

}




